<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/contact.css">
    
</head>

<body>
    <nav id="main-menu">
        <ul class="nav-bar">
             <li class="nav-button-home"><a href="/">Home</a></li>
             <li class="nav-button-services"><a href="/home">Predict</a></li>
             <li class="nav-button-products"><a href="/contact">About us</a></li>
        </ul>
   </nav>

   <main>
    <div class="person">
        <div class="container">
           
          <div class="container-inner">
            <img
            class="img img1"
            src="/images/gagan.jpeg"
          />
        </div>
        </div>
        <div class="divider"></div>
        <div class="name">M GAGAN</div>
        <div class="title">email: gaganm.cs20@bmsce.ac.in</div>
      </div>
      <div class="person">
        <div class="container">
           
          <div class="container-inner">
            
            <img
              class="img img1"
              src="/images/gagan.jpeg"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">ADARSH</div>
        <div class="title">email: adarsh.is20@bmsce.ac.in</div>
      </div>
      <div class="person">
        <div class="container">
           
          <div class="container-inner">
            
            <img
              class="img img1"
              src="/images/ganesh.jpeg"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">DHANWANT</div>
        <div class="title">email: gaganm.cs20@bmsce.ac.in</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="img img1"
              src="/images/ganesh.jpeg"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">GANESH</div>
        <div class="title">email: ganesh.ec20@bmsce.ac.in</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="img img1"
              src=""
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">AKASH</div>
        <div class="title">email: akash.ec20@bmsce.ac.in</div>
      </div>
    </main>
        
        
</body>
</html>